html, body {
  background: #F5F5F5;
}

.container {
  margin: 2em;
  border-radius: 4px;
  box-shadow: 5px 5px 5px	#838C90;
  border: 1px solid #EBEAEA;
}

.item {
  background: #F5F5F5;
}

@media screen and (max-width: 960px) {
    .container {
        margin: 0;
        border-radius: 0;
        box-shadow: 5px 5px 5px	#838C90;
        border: none;
    }
}
